*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: lora;
  src: url(/public/fonts/Lora.ttf);
}

body {
  font-family: lora, serif;
}

header {
  padding: 3px 0;
}

footer {
  padding: 40px 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}